<div style="background-image: url(/assets/sand.jpg); background-size: cover;" class="p-5">
  <div id="body" class="d-flex align-middle justify-content-center p-5 w-75 mx-auto my-5">
    <div class="conatiner text-white">
      <div class="row">
        <div class="col-12 row mx-auto mt-1" id="card">
          <img src="/assets/pool.jpg" class="col-12 img-fluid p-2" alt="" />
          <div class="col-12  p-4">
            <h2 class="text-center d-none d-md-block">Why We're The Best</h2>
            <h3 class="text-center d-none d-md-block">We Will Make Your Vacation Unforgettable</h3>
            <h4 class="text-center d-none d-md-block">Start looking for your dream trip now</h4>
            <div class="row m-auto m-3 pt-3">
              <span id="btn" class="btn btn-outline-light m-auto" type="submit" routerLink="/travels">Travels</span>
            </div>
          </div>
        </div>
      </div>
    </div>
